table.result {
    text-align: right;
    border-collapse: collapse;
}
table.result th {
    border: 1px #c0c0c0 solid;
    text-align: center;
}
table.result td {
    border: 1px #c0c0c0 solid;
    width: 120px;
}
table.message {
    border-collapse: collapse;
}
table.message th {
    border: 1px #c0c0c0 solid;
}
table.message td {
    border: 1px #c0c0c0 solid;
}
button {
    width: 100%;
}
select {
    width: 100%;
}
input {
    width: 50px;
}
